* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
    background-size: cover;
    background: linear-gradient(140deg, #13005D, #1369ce);
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-team {
    width: 400px;
    padding: 30px 0 60px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 3%;
}

.our-team .img {
    display: inline-block;
    height: 200px;
    width: 200px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}

.our-team .img::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #13005D;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.our-team:hover .img::before {
    height: 100%;
}

.our-team .img::after {
    content: "";
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-radius: 50%;
    background-color: #13005D;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.our-team .img img {
    object-fit: cover;
    margin-top: 2px;
    margin-left: 2px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.our-team:hover .img img {
    box-shadow: 0 0 0 14px #13005D;
    transform: scale(0.7);
}

.our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
}

.our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #13005D;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.our-team:hover .social {
    bottom: 0;
}

.our-team .social li {
    display: inline-block;
}

.our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 30px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.our-team .social li a:hover {
    color: #1369ce;
    background-color: #13005D;
}

.contact-btn {
    display: inline-block;
    padding: 12px 50px;
    color: #13005D;
    border: 2px solid #13005D;
    border-radius: 6px;
    margin-top: 16px;
    transition: 0.3s linear;
    text-decoration: none;
}

.contact-btn:hover {
    color: white;
    background-color: #13005D;
}